font {
    font-size: 10pt;
    font-family: Oxygen
}
A:visited {
    color: #527ACC;
    font-size: 9pt;
    text-decoration: none;
    font-family: Oxygen
}
A:hover {
    color: #FFAD5C;
    font-size: 9pt;
    text-decoration: none;
    font-family: Oxygen
}
A {
    color: #527ACC;
    font-size: 9pt;
    text-decoration: none;
    font-family: Oxygen
}
td {
    font-size: 9pt;
    text-decoration: none;
    font-family: Oxygen;
    height: 9px;
    padding: 0
}
.paper_column {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 0 30px;
    width: 400px;
    background-color: #FFF;
    text-align: left;
    font-family: Oxygen, sans-serif;
    position: absolute;
    box-shadow: -5px 5px 20px #777
}
.date_short {
    color: #d5d5d5;
    height: 10px;
    width: 80px;
    padding: 0;
    align: left
}
.name_details {
    color: #444;
    font-size: 16pt;
    visibility: hidden
}
.period_title {
    font-family: Oxygen;
    font-size: 24pt;
    color: #8198E3;
    font-weight: 400
}
.headline {
    font-family: Oxygen;
    font-size: 15pt;
    color: #390;
    font-weight: 400;
    text-align: left
}
.role_detail_table {
    border-color: #FFF;
    border-width: 0
}
.paragraph_text {
    font-family: Oxygen;
    font-size: 9pt;
    color: gray;
    padding: 0
}
.paragraph_headlines {
    font-family: Oxygen;
    font-size: 10pt;
    font-weight: 400;
    color: #000
}
.video {
    background: url(front/film.html);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px
}
.paper {
    background: url(front/doc.html);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px
}
.slides {
    background: url(front/slides.html);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px
}
.f1_container {
    position: absolute;
    top: 20px;
    left: 425px;
    width: 42px;
    height: 42px;
    visibility: visible;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all .3s;
    -webkit-backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -moz-transition: all .3s;
    -moz-backface-visibility: hidden;
    -webkit-filter: saturate(0%) opacity(50%);
    -moz-filter: saturate(0%) opacity(50%);
    -webkit-transform: perspective(800px) rotateY(0deg) translateZ(-60px)
}
.f1_container2 {
    position: absolute;
    left: 80px;
    top: 440px;
    width: 48px;
    height: 42px;
    visibility: visible;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(800px) rotateY(0deg) translateZ(-60px);
    -webkit-transition: all .4s;
    -webkit-backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -moz-transition: all .4s;
    -moz-backface-visibility: hidden
}
.gray:hover {
    z-index: 2;
    box-shadow: -0 0 30px #FFF;
    filter: none;
    -webkit-filter: none;
    -moz-filter: none
}
.gray {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.25 0.25 0.25 0 0 0.25 0.25 0.25 0 0 0.25 0.25 0.25 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}
#face {
	width: 310px;
    position: absolute;
	left: 70px;
    z-index: 1
}
#leftEye {
    position: absolute;
    top: 145.86px;
    left:1150px;
    width: 30px;
	
	z-index: 0
}
#rightEye 
{
    position: absolute;
    top: 143.48px;
    width: 30px;	
	z-index: 0
}
.column_img {
    position: relative;
    width: 85%;
    display: block;
    margin: auto
}
.smallText {
    font-size: 8pt;
    font-weight: 400;
    color: #b0b0b0;
    text-align: center;
    padding-top: 0
}
.loader {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    user-select: none;
    box-sizing: border-box
}
.loader-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box
}
.spiner-holder-one {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 50%;
    height: 50%;
    background: transparent;
    box-sizing: border-box
}
.spiner-holder-two {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box
}
.loader-spiner {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box
}
.animate-0-25-a {
    transform: rotate(90deg);
    transform-origin: 100% 100%
}
.animate-0-25-b {
    transform: rotate(-90deg);
    transform-origin: 100% 100%
}
.animate-25-50-a {
    transform: rotate(180deg);
    transform-origin: 100% 100%
}
.animate-25-50-b {
    transform: rotate(-90deg);
    transform-origin: 100% 100%
}
.animate-50-75-a {
    transform: rotate(270deg);
    transform-origin: 100% 100%
}
.animate-50-75-b {
    transform: rotate(-90deg);
    transform-origin: 100% 100%
}
.animate-75-100-a {
    transform: rotate(0deg);
    transform-origin: 100% 100%
}
.animate-75-100-b {
    transform: rotate(-90deg);
    transform-origin: 100% 100%
}
.text {
    text-align: center;
    font-family: Oxygen;
    padding-top: 36%;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5)
}
div#preload {
    display: none
}