font {
    font-size: 10pt;
    font-family: Oxygen
}
A:visited {
    color: #527ACC;
    font-size: 10pt;
    text-decoration: none;
    font-family: Oxygen
}
A:hover {
    color: #FFAD5C;
    font-size: 10pt;
    text-decoration: none;
    font-family: Oxygen
}
A {
    color: #527ACC;
    font-size: 10pt;
    text-decoration: none;
    font-family: Oxygen
}
td {
    font-size: 10pt;
    text-decoration: none;
    font-family: Oxygen;
    height: 11px;
    padding: 0px
}
.paper_column {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 0px 19px 0px 19px;
    width: 330px;
    background-color: #FFFFFF;
    text-align: left;
    font-family: Oxygen, sans-serif;
    margin: auto;
    position: relative
}
.paper_column2 {
    border-left: 0px solid #C0C0C0;
    border-right: 0px solid #C0C0C0;
    border-top: 0px solid #C0C0C0;
    border-bottom: 0px solid #C0C0C0;
    padding: 0px 19px 0px 19px;
    width: 330px;
    background-color: #EEEEEE;
    text-align: left;
    font-family: Oxygen, sans-serif;
    margin: auto;
    position: relative
}
.date_short {
    color: #d5d5d5;
    height: 11px;
    padding: 0px
}
.name_details {
    color: #444444;
    font-size: 16pt
}
.period_title {
    font-family: Oxygen;
    font-size: 24pt;
    color: #8198E3;
    font-weight: normal
}
.headline {
    font-family: Oxygen;
    font-size: 15pt;
    color: #339900;
    font-weight: normal;
    text-align: left
}
.role_detail_table {
    border-color: #FFFFFF;
    border-width: 0
}
.paragraph_text {
    font-family: Oxygen;
    font-size: 10pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    color: #808080;
    padding: 0px
}
.paragraph_headlines {
    font-family: Oxygen;
    font-size: 12pt;
    font-weight: normal;
    color: #000000
}
.video {
    background: url(front/film.html);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px
}
.paper {
    background: url(front/doc.html);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px
}
.slides {
    background: url(front/slides.html);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px
}
.f1_container {
    visibility: visible;
    padding-top: 6px;
    padding-right: 2px;
    padding-left: 2px
}
.f1_container2 {
    padding-top: 6px;
    padding-right: 2px;
    padding-left: 2px;
    margin: auto
}
.gray:hover {
    z-index: 2;
    filter: none;
    -webkit-filter: none;
    -moz-filter: none
}
#face {
    width: 450px;
    z-index: 1
}
.column_img {
    position: relative;
    width: 80%;
    display: block;
    margin: auto
}
.smallText {
    font-size: 8pt;
    font-weight: normal;
    color: #b0b0b0;
    text-align: center;
    padding-top: 0pt
}